<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera.autofocus" />
    <queries>
        <package android:name="com.facebook.katana" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name="com.example.myapplication.Appcontroller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:networkSecurityConfig">

        <activity
            android:name=".activity.Splash_Activity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".VPN.Sample_Connection"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VPN.Privacy_Policy_Screen"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.First_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Second_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ComingsoonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.Third_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CreditCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OverviewActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.SearchCardActivity"
            android:screenOrientation="portrait" />


        <service
            android:name="com.anchorfree.vpnsdk.vpnservice.AFVpnService"
            android:enabled="@bool/vpn_process_enabled"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process="@string/vpn_process_name">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>


    </application>

</manifest>